@import "../../app.scss";

.projects {
	background: linear-gradient(180deg, #0c0c1d, #111132);
	height: 100%;
	max-width: 80%;
	min-width: 70%;
	margin-left: auto;

	padding: 20px;
}
.titleContainer {
	height: 10%;
	font-size: 32px;
	text-align: right;

	p {
		margin-right: 5%;
		margin-bottom: 5px;
	}

	hr {
		width: 300px;
		margin-left: auto;
		border: none;
		border-top: 1px solid gray;
	}
}

.projectList {
	height: 90%;
	display: flex;
	align-items: center;
	padding: 50px;
	// border: 2px solid red;
	overflow-x: scroll;
	gap: 15px;
}

.projectCard {
	height: 90%;
	min-width: 400px;
	backdrop-filter: blur(5px);
	border: 1px solid hwb(0 100% 0% / 0.25);
	border-radius: 10px;
	padding: 10px;
	z-index: 10;

	display: flex;
	flex-direction: column;

	&:hover {
		transform: scale(1.01);
		transition: 0.5s;
	}

	.imgDiv {
		width: 100%;
		height: 40%;
		padding: 5px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			color: transparent;
		}
	}
	.tags {
		margin-top: 2px;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	h3 {
		font-size: 28px;
	}

	.description {
		padding: 10px;
		font-size: 16px;
		color: gray;
	}
	.projectFooter {
		margin-top: auto;

		.time {
			text-align: right;
			margin-bottom: 8px;
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			.repoLink,
			.liveLink {
				// border: 2px solid red;
				min-width: 100px;
				padding: 8px 10px;
				border: none;
				border-radius: 5px;
				background-color: #23a7f2;
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					font-size: 16px;
					color: black;
					// background-color: #23a7f2;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
.tag {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: darkblue;
	color: bisque;
	font-size: 14px;
}
// #style1::-webkit-scrollbar {
// 	width: 6px;
// 	background-color: #f5f5f5;
// }
// #style1::-webkit-scrollbar-thumb {
// 	background-color: blue;
// }
// #style1::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// 	background-color: #f5f5f5;
// }
