@import "../../app.scss";

.projects {
	background: linear-gradient(180deg, #0c0c1d, #111132);
	height: 100%;
	max-width: 80%;
	min-width: 70%;
	margin-left: auto;

	// padding: 20px;

	// z-index: 10;

	@include mobile {
		max-width: unset;
		width: 100%;
		height: calc(100% - 100px);
		margin-left: unset;
		background: transparent;
	}
}
.titleContainer {
	height: calc(10% - 20px);
	font-size: 32px;
	text-align: right;

	p {
		margin-right: 5%;
		margin-bottom: 5px;

		@include mobile {
			font-size: 18px;
		}
	}

	hr {
		width: 300px;
		margin-left: auto;
		border: none;
		border-top: 1px solid gray;
	}
}

.projectList {
	height: 90%;
	display: flex;
	align-items: center;
	padding: 50px;
	// border: 2px solid red;
	overflow-x: scroll;
	gap: 15px;
	scrollbar-width: none;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	@include mobile {
		padding: 20px;
	}
}
.projectList::-webkit-scrollbar {
	width: 0px;
}

.projectCard {
	height: 90%;
	max-width: min(425px, 90vw);
	min-width: 350px;
	// max-width: 425px;
	backdrop-filter: blur(10px);
	border: 1px solid hwb(0 100% 0% / 0.25);
	border-radius: 10px;
	padding: 10px;
	z-index: 10;

	scroll-snap-align: center;

	display: flex;
	flex-direction: column;
	gap: 5px;

	&:hover {
		transform: scale(1.01);
		transition: 0.5s;
	}

	.imgDiv {
		height: 28%;
		// height: 20vh;
		padding: 5px;
		margin: 0 auto;
		img {
			height: 100%;
			object-fit: contain;
			border-radius: 5px;
			color: transparent;
		}
	}

	.tags {
		margin-top: 2px;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
	h3 {
		font-size: 28px;
		@include s-mobile {
			font-size: 24px;
		}
	}

	.description {
		padding: 10px;
		font-size: 16px;
		color: gray;
		@include s-mobile {
			font-size: 12px;
		}
	}
	.projectFooter {
		margin-top: auto;

		.time {
			text-align: right;
			margin-bottom: 8px;
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			.repoLink,
			.liveLink {
				// border: 2px solid red;
				min-width: 100px;
				padding: 8px 10px;
				border: none;
				border-radius: 5px;
				background-color: #23a7f2;
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					font-size: 16px;
					color: black;
					// background-color: #23a7f2;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
.tag {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: darkblue;
	color: bisque;
	font-size: 14px;
	@include s-mobile {
		font-size: 12px;
	}
}
