@import "../../app.scss";

.hero {
	height: calc(100vh - 100px);
	overflow: hidden;
	position: relative;
	background: linear-gradient(180deg, #0c0c1d, #111132);

	.imageContainer {
		height: 80%;
		max-width: 40%;
		position: absolute;
		left: 0;
		// right: 0;
		// top: 0;
		bottom: 0;

		@include mobile {
			height: 40%;
			max-width: 80%;
			top: unset;
			bottom: 0;
		}
		img {
			width: 100%;
			height: 100%;
			// object-fit: scale-down;
			object-fit: cover;
			transform: scaleX(-1);
		}
	}
	.wrapper {
		max-width: 55%;
		height: 100%;
		margin-left: auto;
		@include mobile {
			margin-left: unset;
			max-width: 100%;
		}
		.textContainer {
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;

			@include mobile {
				height: 75%;
				width: 100%;
				gap: 20px;
				padding: 20px;
				// align-items: center;
				// text-align: center;
			}

			h2 {
				font-size: 52px;
				color: #007bff;
				letter-spacing: 5px;
				@include mobile {
					font-size: 36px;
					margin-top: auto;
				}
			}
			h1 {
				font-size: 44px;
				@include mobile {
					font-size: 28px;
					padding: 0px 40px;
					margin-bottom: 8%;
					margin-left: auto;
				}
			}
			.buttons {
				display: flex;
				button {
					padding: 20px;
					border: 0.5px solid #007bff;
					border-radius: 10px;
					background-color: transparent;
					color: white;
					margin-right: 20px;
					cursor: pointer;
					font-weight: 300;
					display: flex;
					gap: 10px;
					align-items: center;
					font-size: 15px;
				}
				@include mobile {
					margin: 0px auto;
				}
			}
			img {
				width: 50px;
				@include mobile {
					margin-top: auto;
					margin-left: auto;
					margin-right: 10%;
				}
			}
		}
	}
	// .slidingTextContainer {
	// 	position: absolute;
	// 	bottom: 0;
	// 	font-size: 25vh;
	// 	bottom: -40px;
	// 	white-space: nowrap;
	// 	color: #ffffff09;
	// 	width: 50%;
	// 	font-weight: bold;
	// }
}
